button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
    cursor: pointer;
}

.buttonToMiddle {
    margin-left: 30px;
}

.buttonBigger {
    width: 68px;
}